.columns {
  margin: 0;
  padding: 0;
  list-style: none;

  >li {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .column-content {
    display: flex;
    align-items: center;
    height: 2.75rem;
    padding-left: 0.75rem;
    padding-right: 1rem;

    .column-name {
      margin-right: 0.5rem;
    }

    .column-type {
      margin-left: auto;
      color: var(--text-muted-2);
    }
  }

  .column-icon-container {
    --icon-size: 1.25em;
    display: inline-flex;
    width: var(--icon-size);
    margin-right: 0.5rem;

    .key-icon {
      font-size: var(--icon-size);
      font-variation-settings: "FILL" 1;
    }
  }
}
