.er-diagram-visualizer {
  position: relative;

  >.menubar {
    position: absolute;
    display: flex;
    left: 0px;
    top: 0px;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  >.group-history {
    position: absolute;
    display: flex;
    left: 0px;
    bottom: 0px;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  >.group-navigation {
    position: absolute;
    display: flex;
    bottom: 0px;
    right: 0px;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
