:root {
  --p-menu-border-radius: 8px;
  --p-menu-color: var(--text);
  --p-menu-background: color-mix(in srgb,
      var(--theme-base) 6%,
      var(--query-editor-bg));
  --p-menu-shadow: 0 0 0.5rem var(--query-editor-bg);

  --p-menu-submenu-label-font-weight: normal;

  --p-menu-item-padding: 0.6rem;
  --p-menu-item-border-radius: 8px;
  --p-menu-item-focus-background: color-mix(in srgb,
      var(--theme-base) 12%,
      var(--query-editor-bg));
  --p-menu-item-focus-color: var(--theme-base);
  --p-menu-item-gap: 0.5rem;

  --p-menu-separator-border-color: color-mix(in srgb,
      var(--theme-base) 10%,
      var(--query-editor-bg));

  // Context menu is pretty the same
  --p-contextmenu-border-radius: var(--p-menu-border-radius);
  --p-contextmenu-color: var(--p-menu-color);
  --p-contextmenu-background: var(--p-menu-background);
  --p-contextmenu-shadow: var(--p-menu-shadow);

  --p-contextmenu-submenu-label-font-weight: var(--p-menu-submenu-label-font-weight);

  --p-contextmenu-item-padding: var(--p-menu-item-padding);
  --p-contextmenu-item-border-radius: var(--p-menu-item-border-radius);
  --p-contextmenu-item-focus-background: var(--p-menu-item-focus-background);
  --p-contextmenu-item-focus-color: var(--p-menu-item-focus-color);
}

.p-menu,
.p-contextmenu {

  .p-menu-item,
  .p-contextmenu-item {
    font-size: 0.875rem;

    .menu-icon {
      font-size: 1.5em;
      width: 1em;
      height: 1em;
    }

    a {
      font-weight: normal;
    }
  }
}
