:root {
  --p-progressspinner-color-one: var(--theme-primary);
  --p-progressspinner-color-two: var(--theme-primary);
  --p-progressspinner-color-three: var(--theme-primary);
  --p-progressspinner-color-four: var(--theme-primary);
}
