.schema-node {
  position: relative;
  color: var(--text);

  &::before {
    content: "";
    position: absolute;
    inset: 1.25rem 0 0;
    border-radius: 6px;
    border: calc(2px * var(--thickness-multipler)) dashed var(--border-color);
  }

  &.selected {
    outline-style: solid;
    outline-color: color-mix(in srgb,
        var(--theme-primary) 70%,
        var(--theme-bg));
    outline-width: calc(2px * var(--thickness-multipler));
    outline-offset: calc(2px * var(--thickness-multipler));
  }

  &.highlighted {
    outline-style: dashed;
    outline-color: color-mix(in srgb,
        var(--theme-base) calc(50%),
        var(--theme-bg));
    outline-width: calc(2px * var(--thickness-multipler));
  }

  .schema-name {
    position: absolute;
    left: 0;
    top: calc(-0.8rem * var(--thickness-multipler));
    font-size: calc(0.8rem * var(--thickness-multipler));
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
    display: flex;
    margin-right: 0.75rem;

    >:last-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .schema-icon {
    font-size: 1.25em;
    margin-right: 0.5rem;
    color: color-mix(in srgb, var(--theme-base) 40%, var(--theme-bg));
  }
}
