@use "theme";
@use "base";
@use "components/all";
@import "normalize.css";
@import "@material-symbols/font-400/outlined.css";
@import "@vue-flow/core/dist/style.css";

// /* this contains the default theme, these are optional styles */
// @import "@vue-flow/core/dist/theme-default.css";

#app {
  height: 100%;
  display: flex;
  flex-direction: column;

  >.schema-diagram-container {

    &,
    .schema-diagram {
      width: 100%;
      height: 100%;
    }

    .loading-progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      background-color: var(--theme-primary);
    }
  }

  .debug-panel {
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: flex;
    flex-direction: column;

    >section {
      background-color: var(--query-editor-bg);
      border: 1px solid var(--border-color);
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      max-height: 30vh;
      overflow: auto;
      width: 14rem;
    }

    h2,
    h3,
    h4 {
      margin: 0;
      padding: 0;
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }
  }
}
