@use "theme";
@use "base";
@use "components/all";
@import "normalize.css";
@import "@material-symbols/font-400/outlined.css";
@import '@vue-flow/core/dist/style.css';

// /* this contains the default theme, these are optional styles */
// @import '@vue-flow/core/dist/theme-default.css';

#app {
  height: 100%;
  display: flex;
  flex-direction: column;

  > .schema-diagram-container {
    width: 100%;
    height: 100%;
  }
}
